<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Page.css" />
    <title>main</title>
  </head>
  <body>
    <div id="root">
      <header>
        <div>안녕하세요 <%= id %> 님</div>
        <% if(admin === '0') { %>
        <form action="/main/myPage" method="post">
          <input type="submit" value="마이페이지" />
        </form>
        <% } else if(admin === '1') {%>
        <form action="/main/admin" method="post">
          <input type="submit" value="관리자페이지" />
        </form>
        <% }%>
      </header>
      <main>
        <div>
          <div id="list">
            <% for(let i=0; i<10; i++) {%>
            <div>
              <div><%= list[i].header %></div>
              <div><%= list[i].user_id %></div>
              <div><%= list[i].update_date.toLocaleString() %></div>
            </div>
            <% } %>
          </div>
          <div>
            <form action="/main/make" method="get">
              <input type="submit" value="글 작성" />
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
