<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Page.css" />
    <title>make</title>
  </head>
  <body>
    <div id="root">
      <header>
        <div>안녕하세요 <%= id %> 님</div>
        <% if(admin === '0') { %>
        <form action="/main/myPage" method="post">
          <input type="submit" value="마이페이지" />
        </form>
        <% } else if(admin === '1') {%>
        <form action="/main/admin" method="post">
          <input type="submit" value="관리자페이지" />
        </form>
        <% }%>
      </header>
      <main>
        <div>
          <form id="make" action="/main/make/test" method="post">
            <div>
              <input type="text" />
              <p>작성자 : <%= id %></p>
            </div>
            <div>
              <input type="text" />
            </div>
            <div>
              <input type="submit" value="작성" />
            </div>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
